//colors
$background-color:hsl(13, 31%, 94%);
$light:hsl(20, 50%, 98%);
$orange-red-color:hsl(14, 86%, 42%);
$green-color:hsl(159, 69%, 38%);
$light-brown:hsl(7, 20%, 60%);
$dark-brown: hsl(12, 20%, 44%);
$pure-brown:hsl(0, 63%, 54%);
$brown:hsl(14, 65%, 9%);

//font size

$small : .7em;
$medium: .8em;
$normal:1em;
