@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 0;
    overflow-x: hidden;
    user-select: none;
    background-color: $background-color;

    // background-color:rgba(211, 211, 211, 0.9);
    h1 {
        align-self: start;
    }

    .container {
        width: 100%;
        height: 100%;
        margin: 20px 0;
        position: relative;
        z-index: 1;

        .dekstop-image {
            width: 250px;
            border-radius: 18px;
            margin-bottom: 25px;
        }

        .tablet-image {
            width: 300px;
            border-radius: 18px;
            margin-bottom: 20px;
        }

        .mobile-image {
            width: 100%;
            border-radius: 18px;
            margin-bottom: 20px;
        }
    }
}

.item {
    width: 100%;
    padding: 10px 15px;
    position: relative;
    background-color: $light;
    border-radius: 8px;
    box-shadow: 0 0 1px $light-brown;
}

.add-cart {
    width: 150px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: $light;
    // background-color: $orange-red-color;
    border: none;
    justify-content: center;
    border: 1px solid $light-brown;

    .count {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: none;
        display: flex;
        position: absolute;
        color: $light;
        border-radius: 40px;
        font-size: $small;
        background-color: $orange-red-color;
        font-weight: 600;
        justify-content: space-around;
        align-items: center;

        img {
            width: 15px;
            height: 15px;
            padding: 4px;
            outline: 1px solid $light;
            border-radius: 50%;
        }
    }

    button {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        position: relative;
        background-color: $light;
        border-radius: 40px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        font-size: $small;
        color: $brown;
        z-index: 1;
        border: none;
        font-weight: 600;

        img {
            height: 20px;
        }
    }
}

.item-name {
    color: $dark-brown;
    font-size: $small;
}

.item-flavour {
    color: $brown;
    font-size: $medium;
    font-weight: 600;
}

.price {
    color: $pure-brown;
    font-size: $medium;
}

.cart-details {
    background-color: $light;
    padding: 5px 15px;
    border-radius: 18px;
    box-shadow: 0 0 1px $light-brown;
    // border: 1px solid;

    h2 {
        color: $orange-red-color;
        margin-bottom: 10px;
    }

    .empty-cart {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

        img {
            width: 140px;
        }

        p {
            color: $dark-brown;
            font-size: $small;
            font-weight: 600;
        }
    }
}

@mixin btn_() {
    width: 100%;
    border: 1px solid;
    margin: 0 0 10px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 20px;
    background-color: $orange-red-color;
    color: $light;
    font-size: $medium;
    font-weight: 600;
    cursor: pointer;
    transition: .15s ease;

    &:hover {
        opacity: .9;
    }
}

.item-cart {
    display: none;
    // border: 1px solid;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: 30px;

    .list-group {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .total-cost {
        display: flex;
        justify-content: space-between;

        span:nth-child(1) {
            color: $dark-brown;
            font-weight: 500;
        }
    }

    .amount {
        font-size: $normal;
        font-weight: bolder;
    }

    .price {
        font-weight: bold;
        font-size: $medium;
    }

    .description {
        display: flex;
        justify-content: center;
        font-size: $small;

        img {
            margin-right: 5px;
        }

        b {
            margin: 0 2px;
        }
    }

    span {
        font-size: $small;
    }

    .food-cost {
        color: $light-brown;
    }

    .total {
        color: $dark-brown;
        font-weight: 500;
    }

    .rate {
        display: flex;
        gap: 10px;
    }

    .btn {
        @include btn_;
    }

    .remove {
        width: 18px;
        height: 18px;
        outline: 1px solid $light-brown;
        border-radius: 50%;
        padding: 4px;
        cursor: pointer;
        transition: .15s ease;

        &:hover {
            outline-color: black;
        }
    }
}
@keyframes confirmorder{
    from{
        width: 30px;
    }
    to{
        width: 350px;
    }
}
.animate{
    animation: confimorder 2s ease forwards;
}
.order-confirmation {
    width: 100%;
    height: 200%;
    display: none;
    justify-content: center;
    position: absolute;
    top: 70px;
    background-color: hsla(0, 4%, 79%, 0.87);
    .box {
        width: 350px;
        padding: 15px;
        height: 500px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        box-shadow: 0 0 5px hsl(0, 2%, 67%);
        border-radius: 8px;
        margin: 20px 0;
        background-color: $light;
        overflow: hidden;
        .order-confirm {
            width: 45px;
            margin: 0 0 10px;
        }

        .list-group-two {
            height: 62%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            // border: 1px solid;
            overflow: auto;
            margin: 10px 0;
            .list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .food-detail{
                    display:flex;
                    gap: 10px;
                    .price{
                        font-weight: bold;
                    }
                }
                          .food-cost{
                        color: $light-brown;
                        font-size: $medium;
                        margin-left: 5px;
                    }
                    .total{
                        color: $brown;
                        font-weight: 600;
                        font-size: $medium;
                    }
                .thumbnail-img{
                    width: 45px;
                    border-radius: 8px;
                }
            }
        }

        .confirmation-greeting {
            font-size: .8rem;
            color: $light-brown;
        }

        a {
            @include btn_;
            margin-top: 10px;
        }
    }
}
